@model tangenportalv2.Models.Nugget
@using tangenportalv2.Models;

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TangenPortal</title>

    <!-- Custom fonts for this template-->
    <script src="https://kit.fontawesome.com/2f4791119e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/css/sb-admin-2.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="~/js/sb-admin-2.js"></script>
    <link href="~/css/animate.css" rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
    </script>

    <link href="~/css/load-min.css" rel="stylesheet" />

</head>

<body id="page-top" onload="MainLoad();">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="Index">
                <div class="sidebar-brand-text mx-3">Tangen Portal <sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/Home/Index"><i class="fas fa-home"></i>Dashboard</a>
                <a class="nav-link" href="/Home/Instruments"><i class="fas fa-robot"></i>Instruments</a>
                <a class="nav-link" href="/Home/UpdateAgent"><i class="fas fa-terminal"></i></i>Update Agent</a>
                <a style="bottom: 0%; position: fixed;" class="nav-link" href="/Home/DevTools"><i class="fas fa-tools"></i>Admin Settings</a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">


        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content" style="margin-top: 50px;">


                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <!-- Partial page begin-->
                <div id="mainview" class="animated bounceInLeft">

                    <style>

                        th, td {
                            border: 1px solid black;
                            padding: 10px;
                        }

                        table {
                            border: 1px solid black;
                            margin-top: 5vh;
                        }

                        .section {
                            margin-left: 25px;
                            margin-bottom: 5vh;
                        }
                    </style>

                    <div style="margin-left: 15px;">

                        <h3>Database populate</h3>
                        <div class="section">

                            <table>
                                <tr>
                                    <th>Name</th>
                                    <th>Path</th>
                                    <th></th>
                                </tr>

                                @foreach (BatchModel batch in Model.batches)
                                {
                                    <tr>
                                        <td style="font-weight: bold;">@batch.batchName</td>
                                        <td>@batch.batchURL</td>
                                        <td>
                                            @using (Html.BeginForm("runBatch", "Home", FormMethod.Post))
                                            {
                                                <input type="hidden" value="@batch.ID" name="batchid" id="batchid" />
                                                <button class="btn btn-primary" style="margin: 2px;" type="submit">Run Batch</button>
                                            }
                                        </td>
                                        <td>
                                            @using (Html.BeginForm("deleteBatch", "Home"))
                                            {
                                                @Html.Hidden("batch", batch)
                                                <input type="hidden" value="@batch" name="batch" id="batch" />
                                                <button class="btn btn-warning" style="margin: 2px;" type="submit">Delete Batch</button>
                                            }
                                        </td>
                                    </tr>
                                }
                            </table>

                            <h5 style="margin-top: 50px;">Point to test batch</h5>

                            @using (Html.BeginForm("addBatch", "Home", FormMethod.Post))
                            {
                                <table>
                                    <tr>
                                        <td><input class="form-control" type="text" placeholder="Batch name" name="batchname" id="batchname" /></td>
                                        <td><input class="form-control" type="text" placeholder="Batch URL" name="batchurl" id="batchurl" /></td>
                                        <td><button class="btn btn-primary" style="margin: 2px;" type="submit">Add</button></td>
                                    </tr>
                                </table>
                            }


                        </div>

                        <h3>Clean table:</h3>
                        <div class="section">
                            <table>
                                <tr>
                                    <th>Name</th>
                                    <th>Entries</th>
                                    <th></th>
                                </tr>

                                <tr>
                                    <td>Runs</td>
                                    <td>???</td>
                                    <td><button class="btn btn-danger">Clear table</button></td>
                                </tr>

                                <tr>
                                    <td>Instruments</td>
                                    <td>???</td>
                                    <td><button class="btn btn-danger">Clear table</button></td>
                                </tr>

                                <tr>
                                    <td>Something</td>
                                    <td>???</td>
                                    <td><button class="btn btn-danger">Clear table</button></td>
                                </tr>

                            </table>
                        </div>

                    </div>
                </div>



            </div>


            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Tangen Biosciences 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    </div>


    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


</body>

</html>




