@model tangenportalv2.Models.Nugget;
@using tangenportalv2.Models;

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TangenPortal</title>

    <script src="~/js/jquery.js"></script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/bootstrap/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/2f4791119e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/css/sb-admin-2.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="~/js/sb-admin-2.js"></script>
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/load-min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>

        function MainLoad() {
            $.ajax({
                url: '@Url.Action("runMain", "Home")',
                success: function (data) {
                    $('#mainview').html(data);
                }
            });
        }

        function getFromInstrument(instrumentName) {
            $('#instrumentFilter').html('Filter: ' + instrumentName);
            $.ajax({
                url: '@Url.Action("getFromInstrument", "Home")',
                data: {instrumentName},
                success: function (data) {
                    $('#mainview').html(data);
                }
            });
        }

        function RunLoad(pagenum) {
            $.ajax({
                url: '@Url.Action("runMain", "Home")',
                data: { pagenum },
                success: function (data) {
                    $('#mainview').html(data);
                }
            });
        }

    </script>

</head>

<body id="page-top" onload="MainLoad();">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="Index">
                <div class="col">
                    <div class="row">
                        <div class="sidebar-brand-text mx-3">Tangen Portal</div>
                    </div>
                </div>
                
                
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/Home/Index"><i class="fas fa-home"></i>Dashboard</a>
                <a class="nav-link" href="/Home/Instruments"><i class="fas fa-robot"></i>Instruments</a>
                <a class="nav-link" href="/Home/UpdateAgent"><i class="fas fa-terminal"></i></i>Update Agent</a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">


        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top">

                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" type="button" id="instrumentFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Instrument filter
                        </button>
                        <div class="dropdown-menu" aria-labelledby="instrumentFilter">
                            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                            {
                            <button type="submit" class="dropdown-item" type="button">All instruments</button>
                            }
                            @foreach (string instrument in Model.instrumentNames)
                            {
                            <button id="filter-@instrument" onclick="getFromInstrument('@instrument');" class="dropdown-item" type="button">@instrument</button>
                            }
                        </div>
                    </div>

                    <button id="datepick" class="flatpickr flatpickr-input btn btn-dark" style="margin-left: 20px;">Date filter</button>

                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                    <button style="margin-left: 20px;" class="btn btn-outline-primary">Reset</button>
                    }


                    <script>
                        const fp1 = flatpickr("#datepick", {
                            mode: "range",
                            dateFormat: "d-m-Y"
                        });
                        fp1.config.onChange.push(
                            function (selectedDates) {
                                console.log(selectedDates);
                                if (selectedDates.length > 1) {
                                    var dates = String(selectedDates);
                                    $.ajax({
                                        url: '@Url.Action("getFromDateRange", "Home")',
                                        data: { dates },
                                        success: function (data) {
                                            $('#mainview').html(data);
                                            document.getElementById("datepick").innerHTML = (String(String(selectedDates[0]).split(" ").slice(1, 4)).replace(new RegExp(",", "g"), " ") + " to " + String(String(selectedDates[1]).split(" ").slice(1, 4)).replace(new RegExp(",", "g"), " "));
                                        }
                                    });
                                }
                            });
                    </script>

                </nav>
            </div>



                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <!-- Partial page begin-->
                <div id="mainview">


                </div>

            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Tangen Biosciences 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    </div>


</body>

</html>
