@model tangenportalv2.Models.Nugget;
@using tangenportalv2.Models;

<script src="~/js/pace.js"></script>

<script>

    function MainLoad() {
        $.ajax({
            url: '@Url.Action("runMain", "Home")',
            success: function (data) {
                $('#mainview').html(data);
            }
        });
    }

    function RunLoad(pagenum) {
        $.ajax({
            url: '@Url.Action("runMain", "Home")',
            data: { pagenum },
            success: function (data) {
                $('#mainview').html(data);
            }
        });
    }

    loadPageination( parseInt((Math.floor(@Model.pagenum / 10) * 10).toString()[0], 10) );

    function loadPageination(offset) {

        var pagetotal = @Model.pagetotal;

        if ((offset * 10) < Math.ceil(pagetotal)) {

            if (offset == 0) { document.getElementById("backbutton").disabled = true; }
            else { document.getElementById("backbutton").disabled = false; }

            var div = document.getElementById('pagelist');

            $("#backbutton").attr("onclick", "loadPageination(" + (offset - 1) + ");");
            $("#forwardbutton").attr("onclick", "loadPageination(" + (offset + 1) + ");");

            var innerlisthtml = "";

            for (i = (offset * 10); i < pagetotal; i++) {

                if (i < ((offset + 1) * 10)) {
                    if (i == (pagetotal - 1)) { document.getElementById("forwardbutton").disabled = true; }
                    else { document.getElementById("forwardbutton").disabled = false; }

                    if (i == @Model.pagenum) { innerlisthtml += ("<button class=\"btn btn-link\" disabled>" + (i + 1) + "</button>"); }
                    else { innerlisthtml += ("<button class=\"btn btn-link\" onclick=\"RunLoad(" + i + ")\">" + (i + 1) + "</button>"); }

                }
            }

            div.innerHTML = (innerlisthtml);
        }
    }

</script>

<div id="mainview">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-2">

            </div>
        </div>


        @foreach (RunMod run in Model.runs)
        {
            <div class="card animated bounceInLeft" style="border-left-color: cornflowerblue; border-left-width: 7px; width: 18rem; width: 60vw; height:75px; text-align: left; left: auto; right: auto; margin-bottom: 1vh; box-shadow: #f0f0f0 4px 4px;">
                <div class="card-body">

                    <div class="row">

                        <div class="col">
                            <div class="row">
                                <div class="col" style="font-weight: bolder; ">
                                    #@run.assayId
                                </div>
                                <div class="col">
                                    <div class="row" style="color: cornflowerblue; font-weight: bold;">
                                        @run.dateTime.Split("T")[0]
                                    </div>
                                    <div class="row" style="color: cornflowerblue;">
                                        @run.dateTime.Split("T")[1].Replace("Z", "")
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="row" style="text-align: right;">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    @using (Html.BeginForm("ViewRun", "Home", FormMethod.Post, new { target = "_blank" }))
                                    {
                                        <input hidden value="@run.Id" id="runid" name="runid" />
                                        <button class="btn btn-sm btn-primary" style="margin-right: 10px;">View  <i class="far fa-chart-bar"></i></button>
                                    }
                                    @using (Html.BeginForm("DownloadRun", "Home", FormMethod.Post))
                                    {
                                        <button class="btn btn-sm btn-secondary">Download Archive  <i class="fas fa-download"></i></button>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        }

        @for (int missrun = 1; missrun <= 10 - Model.runs.Length; missrun++)
        {
            <div class="card animated bounceInLeft" style="border-left-color: lightgray; background-color:whitesmoke; border-left-width: 7px; width: 18rem; width: 60vw; height:75px; text-align: left; left: auto; right: auto; margin-bottom: 1vh;">
                <div class="card-body">

                    <div class="row">

                        <div class="col">
                            <div class="row">
                                <div class="col" style="font-weight: bolder; ">
                                </div>
                                <div class="col">
                                    <div class="row" style="color: lightgray; font-weight: bold;">
                                    </div>
                                    <div class="row" style="color: lightgray;">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                        </div>

                    </div>

                </div>
            </div>
        }

        <nav>
            <ul class="pagination">

                <button onclick="" class="btn btn-link" id="backbutton"><i class="fas fa-arrow-circle-left"></i></button>

                <div id="pagelist">
                </div>

                <button onclick="loadPageination(1);" class="btn btn-link" id="forwardbutton"><i class="fas fa-arrow-circle-right"></i></button>

            </ul>

        </nav>
    </div>
</div>




